# For Haskell
*.hi
*.o
dist
cabal.sandbox.config
.cabal-sandbox
ssl.csr
ssl.key
ssl.crt
client_session_key.aes
.DS_Store
test.config
.stack-work
.cabal-sandbox.bak

## temp stack.yaml
stack-tmp.yaml


# For VS Code

.vscode
TEST
test

\#*\#
.markdown-preview.html
.\#*
*~
.ignore
*.ignore

*.lhs~


## un-ignore
!yu-auth/test-src
!yu-core/test-src


# Debian
*.build
*.dsc
*.xz
*.changes
*/debian/changelog
*.ppa.upload
*.buildinfo
*/debian/files
