#!/usr/bin/make -f

DEB_CABAL_PACKAGE = yu-launch
DEB_DEFAULT_COMPILER = ghc

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk

build/haskell-yu-launch-utils:: build-ghc-stamp
